@font-face {
    font-family: 'LS';
    src: url(../font/liberation/LiberationSans-Regular.ttf);
}

@font-face {
    font-family: 'DSL';
    src: url(../font/dejavu/DejaVuSans-ExtraLight.ttf);
}

@font-face {
    font-family: 'DS';
    src: url(../font/dejavu/DejaVuSans.ttf);
}

body{
	margin: 0;
	padding: 0;
	/*background-color: #FCFCFC;*/
	font-family: "LS";
}
textarea:focus, input:focus{
	outline: none;
}

/* Header */
/*.right_apps{
	z-index: 999;
	position: fixed;
	height: 100%;
	width: 400px;
	top: 0;
	right: 0;
	background-color: rgba(107, 119, 140, 0.9);
	box-shadow: -1px 0px 1px rgba(78, 93, 118, .7);
	transition: 500ms;
	color: #4E5D76;
	overflow-y: scroll;
	background-repeat: no-repeat;
}

.right_apps_main_hide{
	right: -400px;
}

.right_apps .main_title{
	padding: 20px;
	background-color: #CCCCCC;
}

.right_apps .title{
	padding: 20px;
	background-color: #AAAEB5;
	cursor: pointer;
	background-repeat: no-repeat;
	transition: 500ms;
}

.right_apps_hide{
	background-position: 350px;
	background-image: url(aset_web/arrow_right_main.png);
}

.right_apps_expanded{
	background-position: 340px;
	background-image: url(aset_web/arrow_down_main.png);
}

.right_apps .member{
	display: block;
	padding: 20px;
	background-color: unset;
	color: white;
	cursor: pointer;
	transition: 200ms;
}

.right_apps .member:hover{
	background-color: rgba(78, 93, 118, .2);
}

.arrow{
	float: right;
}

.right_apps .close{
	position: absolute;
	top: 18px;
	right: 20px;
	cursor: pointer;
}*/

.most_top{
	padding: 0px 100px;
	height: 40px;
	background-color: #a1e7e6;
	/* margin-top: -10px; */
	/* margin-bottom: 10px; */
}
.most_top a{
	text-decoration: none;
	color: #4E5D76;
}

.most_top .left{
	float: left;
	padding: 10px;
	height: 19px;
	width: auto;
}

.most_top .right{
	float: right;
	/* margin-top: 2px; */
	height: 19px;
	width: 100px;
	padding: 10px;
}

.most_top > .call_us{
}

.header{
	padding: 25px 150px;
	/*background: red;*/ /* For browsers that do not support gradients */
	/*background: -webkit-linear-gradient(rgba(78, 93, 118, .15), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));*/ /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(rgba(78, 93, 118, .15), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));*/ /* For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(rgba(78, 93, 118, .15), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));*/ /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(rgba(78, 93, 118, .15), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));*/ /* Standard syntax */
	background-color: #21B173;
	height: 100px;
}

.header .logo{
	float: left;
	display: block;
	margin: -25px 0 -25px -50px;
	/*background-image: url("../aset/matreex_putih.png");
	background-repeat: no-repeat;*/
	/*height: 50px;
	width: 200px;*/
	padding: 15px;
	text-decoration: none;
}

.header .logo span{
	margin-left: -30px;
	margin-top: 10px;
	color: #AAE5EC;
	font-size: 40px;
}

.header .nav_menu{
	float: left;
	display: block;
	height: 30px;
	/* margin-top: -10px; */
	margin-left: 25px;
	text-decoration: none;
	color: #fff;
	padding:10px;
	/*width: 500px;*/
	/* background-color: red; */
}
.header .nav_menu img{
	height: 25px;
	margin-right: 10px;
}
.garis{
	height: 0.5px;
	background-color: #AAE5EC;
}
.bottom_nav{
	background-color: #21B173;
	height: 20px;
	padding: 20px;
}
.bottom_nav .kiri{
	float: left;
	margin-left: 100px;
	text-decoration: none;
	color: #fff;
}
.bottom_nav .kanan{
	float: right;
	margin-right: 100px;	
	text-decoration: none;
	color: #fff;
}

.bottom_nav .tengah{
	/* text-align: center;	 */
	margin-left: 50%;
}
.bottom_nav img{
	height: 25px;
}
.bottom_nav span{
	padding: 15px;
}

/* Akhir Header*/

/* Slider */
.slider{
	height: 300px;
}

.slider .image_nav_main{
	position: absolute;
	height: 550px;
	width: 100%;
	overflow: hidden;
}

.slider .image_nav_main img{
	position: absolute;
	width: 100%;
}

.slider .float{
	z-index: 998;
	position: absolute;
	right: 0;
	width: 35%;
	padding: 20px;
	padding-left: 3%;
	padding-right: 5%;
	padding-top: 50px;
	/* background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(78, 93, 118, .7), rgba(78, 93, 118, .7), rgba(78, 93, 118, .8), rgba(78, 93, 118, .9)); */
	opacity: 0.9 !important;
	background-color: #fff;
	height: 480px;
}

.slider .float .art .art_title{
	font-size: 2em;
	font-family: "DSL";
	color: #666666;
}

.slider .float .art .art_desc{
	margin-top: 20px;
	color: #666;
}
.jarak{
	margin: 20px 0;
}
.button1{
	display: block;
	padding: 15px 20px;
	background-color: #21b173;
	float: left;
	text-decoration: none;
	color: white;
	font-family: "DS";
}
.button2{
	display: block;
	padding: 15px 20px;
	background-color: #666666;
	float: left;
	text-decoration: none;
	color: white;
	font-family: "DS";
}
.art_nav_main{
	display: block;
	bottom: 20px;
	margin-left: -40px;
	position: absolute;
}
.art_nav_main .child_nav{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(78, 93, 118);
	margin-right: 5px;
	cursor: pointer;
}
.active_color{
	background-color: #EDCD20 !important;
}
/* Akhir Slider */

/* Konten*/
.content{
	margin-top: 250px;
	padding: 30px 150px;
	background-color: #F3F3F3;
	height: 150px;
}
/*
.content .brief{
	height: 100px;
}
.content .teks{
	color: #777;
	font-size: 20px;
	background-color: red;
}

.content .kanan{
	float: left;
	margin-top: -100px;
	margin-left: 100px;
	color: #777;
	font-size: 20px;
}
.content .kotak{
	height: 20vw;
	width: 17vw;
	margin: 0 1%;
	display: inline-block;
	cursor: pointer;
}
.content .kotak .gbr{
	height: 10vw;
	width: 100%;
}
.content .kotak .judul{
	color: #777;
	margin-top: 5%;
	width: 100%;
	font-size: 20px
}
.content .kotak .tanggal{
	color: #777;
	margin-top: 2%;
	width: 100%;
	font-size: 12px
}

.content .box{
	display: inline-block;
	cursor: pointer;
	background-color: #666666; 
	text-align: center;
	margin-top:10px;
	padding: 10px;
	color: #fff;
}
.content .box .tulisan{
	padding: 10px;
	display: inline;
} */

/* Akhir Konten*/

/* Video */
.video{
	padding: 100px;
}
.video .judul{
	margin-bottom:50px;
	font-size: 50px;
}
/* Akhir Video */

/* Isi */
.isi{
	padding: 50px;
}
.isi .judul{
	padding: 0 50px;
	margin-bottom:10px;
	font-size: 35px;
	color: #666666;
	font-weight: bold;
}
/* Akhir Isi */

/* Value */
.value{
	/* height: 500px; */
	height: 100%;
}

.value .kiri{
	/* position: absolute; */
	/* height: 550px; */
	width: 45%;
	/* overflow: hidden; */
	padding: 50px 100px;
	/* background-color:red; */
}

.value .kiri .judul{
	position: absolute;
	width: 100%;
}
.value .art .art_title{
	font-size: 2em;
	font-family: "DSL";
	color: #666666;
}

.value .art .art_desc{
	margin-top: 20px;
	color: #666;
}
.value .kiri .art .box{
	/* height:100px; */
	width: 80%;
	margin: 20px 0;
	background-color: #e6e6e6;
	padding: 30px;
	color: #666666;
}
.value .kiri img{
	float: left;
	position: absolute;
	height: 70px;
}
.value .kiri .box span{
	font-size: 2em;
}
.value .kiri .box .isinya{
	margin-left: 130px;
}

.value .kanan{
	position: absolute;
	right: 0;
	width: 40%;
	height: 100%;
	padding: 20px;
	background-color: #647294;
}

/* Akhir Value */

/* Competitors */
.chart{
	height: 100%;
}
.chart .kiri{
	width: auto;
	float: left;
	background-color: red;
}
.chart .kanan{
	width: auto;
	float: right;
	background-color: blue;
}


/* Akhir Competitors */

/* Footer*/
.footer .kuning{
	background-color: #E2CE77;
	height: 25px;
	padding: 30px 100px;
	color: #666666;
	font-size: 25px;
}
.footer .kiri{
	float: left;
}
.footer .kuning .kanan{
	float: right;
	margin-right: 100px;
}
.footer .kuning .kanan .kotak{
	border: solid 2px #21b173;
	padding: 10px 30px;
	margin: -15px;
	color: #21b173;
}
.footer .abu{
	background-color: #666666;
	height: 120px;
	padding: 40px 100px;
	color: #fff;
	font-size: 18px;
}
.footer .abu .kanan{
	float: right;
	margin-right: 300px;
}
/* Akhir Footer*/

.img-responsive{
	width: 100%;
	height: auto;
}
.center{
	text-align: center;
}