@font-face {
    font-family: 'LS';
    src: url(../font/liberation/LiberationSans-Regular.ttf);
}

@font-face {
    font-family: 'DSL';
    src: url(../font/dejavu/DejaVuSans-ExtraLight.ttf);
}

@font-face {
    font-family: 'DS';
    src: url(../font/dejavu/DejaVuSans.ttf);
}

body{
	margin: 0;
	padding: 0;
	/*background-color: #FCFCFC;*/
	font-family: "LS";
}
textarea:focus, input:focus{
	outline: none;
}

/* Header */
.most_top{
/*	padding: 0 4%;*/
	height: 45px;
/*	background-color: #a1e7e6;*/
    border-bottom: 1px solid #b6b6b6;
}
.most_top a{
	text-decoration: none;
	color: #4E5D76;
}

.most_top .left{
	float: left;
	padding: 10px;
	height: 25px;
	width: auto;
}

.most_top .right{
	float: left;
	height: 44px;
	width: 120px;
	padding: 5px;
    font-size: .9em;
    text-decoration: none;
/*    margin-top: 5px;*/
	/*border-right: 2px solid grey;*/
/*    vertical-align: middle;*/
}
.most_top .right img{
	float: left;
	height: 30px;
    margin-top: 0px;
/*	width: 10px;*/
/*	padding: 10px;*/
	/*border-right: 2px solid grey;*/
/*    vertical-align: middle;*/
}
.most_top .garis{
	float: left;
	margin-top: 10px;
	height: 25px;
	width: 1px;
	/*padding: 1px;*/
	border-right: 2px solid grey;
}
.most_top .logo{
	float: left;
	display: block;
	margin: 0px 20px 0px 5px;
	padding: 4px;
	text-decoration: none;
}

.most_top .logo span{
	margin-top: 5px;
    padding: 3px;
	color: #008081;
	font-size: 25px;
}

.most_top .logo img{
	width: 30px;
    margin-top: -10px;
}

.most_top > .call_us{
}

.header{
/*	padding: 5px 170px 20px;*/
	height: 30px;
}

.header .logo{
	float: left;
	display: block;
/*	margin: 0px 20px 0px -50px;*/
	padding: 2px;
	text-decoration: none;
}

.header .logo span{
	padding: 7px;
	/*margin-top: 8px;*/
	color: #008081;
	font-size: 25px;
}

.header .logo img{
	width: 50px;
}

.header .nav_menu{
	float: left;
	display: block;
	/*height: 35%;*/
/*	width: 8%;*/
	/*margin-top: 2%;*/
/*	margin-left: 1%;*/
	text-decoration: none;
	color: #666;
	padding:5px;
	text-align: left;
}
.header .nav_menu img{
	height: 25px;
	margin-right: 10px;
}
/* Akhir Header*/

/* Burger */
/* Saat lebar layar kurang dari 680 pixel, sembunyikan semua menu item kecuali item yang pertama yaitu("Home"). Tampilkan juga list item yang berisi link untuk membuka menu yaitu (li.icon) */
@media screen and (max-width:680px) {
  .nav_menu:not(:first-child) {display: none;}
  .nav_menu.icon {
    float: right;
    display: inline-block;
  }
}
 
/* Class dengan nama "responsive" akan ditambahkan oleh JavaScript saat user mengklik icon. Munculnya Class ini akan mendisplay isi list menu 
*/
@media screen and (max-width:680px) {
  .nav_menu.responsive {position: relative;}
  .nav_menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav_menu.responsive {
    float: none;
    display: inline;
  }
  .nav_menu.responsive a {
    display: block;
    text-align: left;
  }
}
/* Akhir Burger */

/* KIRI */
.left-side{
    float: left;
    margin-top: 5px;
    margin-left: -10px;
    width: 100%;
    max-height: 92vh;
    overflow: auto;
    text-align: center;
}
/* Akhir Kiri */

/* KANAN */
.right-side{
/*    float: left;*/
/*    height: 94vh;*/
}
/* Akhir Kanan */

/* Konten*/
.konten{
    margin-left: -20px;
    margin-right: -20px;
    max-height: 92vh;
    overflow: auto;
}

/* Akhir Konten*/

/* Footer*/
.footer{
	background-color: #a1e7e6;
	height: 25px;
	padding: 30px 100px;
	color: #666666;
	font-size: 15px;
}
.footer .kiri{
	float: left;
	padding: 0 2% 0 0;
}
.footer .kiri .garis{
	border-right: solid 1px #21b173;
}
.footer .kanan{
	float: right;
    margin-top: -20px;
	padding: 0 1%;
}
/* Akhir Footer*/

.img-responsive{	
	width: 100%;
	height: auto;
}
.center{
	text-align: center;
}
