.page_section > .section{
			margin-top: 12px;
			padding: 12px;
		}

.page_section{
	margin: 0 150px;
}

.page_section > .ps_title{
	color: white;
	border-radius: 5px;
	padding: 12px 0px;
	background-color: rgba(107, 119, 140, 0.5);
}

.page_section > .ps_title > .position{
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 12px 4px;
/*	padding: 12px 24px;*/
	padding-left: 30px;
	background-color: #777;
	z-index: 998;
}

.page_section > .ps_title > .position a{
	text-decoration: none;
	color: white;
}

.page_section > .ps_title > .position:after{
	z-index: 999;
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 21px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 26px solid #777;
	margin-top: -11px;
	margin-left: 4px;
}

.page_section > .ps_title > .position_odd{
	background-color: #AAA !important;
}
.page_section > .ps_title > .position_odd:after{
	border-left: 26px solid #AAA !important;
}
.page_section > .ps_title > .position:before{
    border-left: 26px solid #AAA !important;
    z-index: 999;
}

.page_section > .ps_title > .position:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 24px !important;
}

.page_section > .ps_title > .position_active{
	background-color: #74c4ff !important;
}
.page_section > .ps_title > .position_active:after{
	border-left: 26px solid #74c4ff !important;
}
